<div class="flexColumJcenterAcenter secHoldAll">
  <div class="secLinks flexRowJcenterAcenter">
    <div class="holdLinks flexColumJcenterAcenter">
      <h2 class="textsss">dont have a user?</h2>
      <a
        id="create"
        onclick="changPage(event)"
        href=""
        class="Links <%=page=='/createAccount'?'activeLink':'momo'%>"
      >
        new account</a
      >
    </div>
    <div class="holdLinks flexColumJcenterAcenter">
      <h2 class="textsss">start sel online!</h2>
      <a
        id="seller"
        onclick="changPage(event)"
        href=""
        class="Links <%=page=='/createSellerAccount'?'activeLink':'momo'%>"
        >besnuise account</a
      >
    </div>
    <div class="holdLinks flexColumJcenterAcenter effect">
      <h2 class="textsss">already have a user lats login</h2>
      <a
        id="login"
        onclick="changPage(event)"
        href=""
        class="Links <%=page=='/login'?'activeLink':'momo'%>"
        >go to login</a
      >
    </div>
  </div>
</div>
